 *{
     overflow-x: hidden;
 }

#contacts{
    text-align: center;
    color: white;
    background-position: center;
    background-repeat:no-repeat;
    
}
h2,h3{
    text-align: center;
    margin-top: 10%;
    justify-content: safe-around;
    font-family: 'Krona One', ;

}
p{
    font-family: 'Pathway Gothic One', ;

}
#service{
    background-image: url("../Image/assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
}

#contacts{
    background-image: url("../Image/assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    color: white;
    text-align: center;
    width: 100%;
}
#page{
    background-image: url("../Image/assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-repeat: no-repeat;
    color:white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 300px;
}
#about{
    text-align: center;
}

input{
    width:250px ;
    opacity: 0.5;
    background: transparent;
}
textarea{
    background: transparent;
}

.row{
    margin: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    position: relative;
}


/* #w1{
    padding-left: 10px;
}
#w1{
    padding-right: 10px;
}
#w3{
padding-left:10PX ;
}
#W2{
    padding-left: 10px;
}
#w6{
    padding-right: 10px;
}
#w7{
    padding-right: 10px;
}
#w8{padding-left: 10px;}
#w5{
    padding-right: 5px;
 } */

  .port{
      position: absolute;
      top: 50%;
      bottom: 50%;
      display: none;
      text-align: center;
      margin-left: 50%;
      background-color: white;
      border: 5px;
      color: red;
      font-size: 20px;
      margin-bottom: auto;
      margin-top: auto;
      overflow-x: visible;
    
  }
  #w4:hover {
      position: relative;
      
      opacity: 0.3;
  }
  #w3:hover {
    position: relative;
    
    opacity: 0.3;
}
#w2:hover {
    position: relative;
    
    opacity: 0.3;
}
#w1:hover {
    position: relative;
    
    opacity: 0.3;
}
#w5:hover {
    position: relative;
    
    opacity: 0.3;
}
#w6:hover {
    position: relative;
    
    opacity: 0.3;
}

#w7:hover {
    position: relative;
    
    opacity: 0.3;
}
#w8:hover {
    position: relative;
    
    opacity: 0.3;
}

footer{
    text-align: center;
}
body{
    align-content: center;
}
#peek1{
    display: show;
}
#boo1{
    display: none;
}
#peek2{
    display: show;
}
#boo2{
    display: none;
}
#peek3{
    display: show;
}
#boo3{
    display: none;
}
